extends layout

block content
  h1 Choose and upload file using nodeJs
  form(name="fileUpload", action="/fileUpload",enctype="multipart/form-data", method="post")
      label Choose image to upload: 
      input(name="uploadfile", type="file")
      span(style="color:red") Upload only image file (PNG, JPEG, GIF)
      br 
      input(value="UPLOAD", type="submit")
   div
    h1 List all uploaded files  
    #files  
     each value in fileList
       div(style="width:210px;float:left") 
         img(src="./files/"+value, height=200, width=200)
         span #{value} 
          a(href="/deleteFile/"+value) Delete
      
  
