extends layout

block content
  h1= title
  p Welcome to #{title}
  h1 #{msg}
  form(name="fileUpload", action="/fileUpload",enctype="multipart/form-data", method="post")
      br 
      label Name: 
      input(name="name", type="text", placeholder="Enter your name")
      br 
      label File: 
      input(name="uploadfile", type="file")
      br 
      input(value="Submit", type="submit")
      
  
